@import "tailwindcss";

@plugin "@iconify/tailwind4" {
    prefixes: lucide;
}

@theme {
    --font-montserrat: 'Montserrat', sans-serif;

    --color-background: #ffffff;
    --color-background-secondary: #101828;
    --color-text-primary: #000000;
    --color-text-secondary: #64748b;
    --color-primary: #3b82f6;
    --color-secondary: #64748b;
    --color-success: #059669;
    --color-error: #dc2626;
    --color-warning: #f59e0b;
    --color-info: #0ea5e9;
}